.form-add-student {
  border: 2px solid #a0dbcc !important;
  border-radius: 10px !important;
  height: 620px !important;
  width: 80%;
  padding: 30px;
}

.add-student-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
 
.add-student-container .form-control {
  margin-bottom: 18px;
}

.generate-password-button {
  text-align: end;
}

.form-add-student .form-select {
  border: 3px solid #a0dbcc !important;
  border-radius: 20px !important;
  margin-bottom: 18px;
}

.add-student-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submit-button{
  display: flex;
  justify-content: center;
}

.profile-image-btn{
  background-color: #fff !important;
  border-color: #fff !important;
}