.post-img {
    width: 55px;
    height: 55px !important;
    object-fit: cover;
}

.post-label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    font-family: cursive;
    margin-left: -20px;
    margin-top: 2px;
}

.post-label {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -3px;
}

.post-text {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

.card-img-bottom {
    max-width: 30%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.card-footer {
    background-color: #fff !important;
}

.heart {
    width: 30px !important;
    height: 30px !important;
}

/* icon */
.comment {
    width: 20px !important;
    height: 20px !important;
    margin-top: -3px;
}

.post-footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.points {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    right: 20px;
    top: 45px;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    right: 40px !important;
    left: auto !important;
    top: 67px !important;
}