.route-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.home-container {
  flex-grow: 1;
  margin-left: 300px;
  margin-top: 60px;
  overflow-x: hidden;

}