.card-header {
    background-color: #a0dbcc !important;
    font-weight: 550;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    width: 95%;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.exam {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exam-text {
    margin-right: 60px;
}


.form-check-input:checked {
    background-color: #a0dbcc !important;
    border-color: #a0dbcc !important;
}

.term-checkbox .form-check {
    margin: 0 90px;
}

.term-checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
}

.term-label {
    text-align: center;
}

.term-checkbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-grades-form {
    padding: 30px !important;
}

.gradeType-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.add-grades-btn {
    display: flex !important;
    justify-content: center;
    margin-top: 5px;
}

.container {
    margin-top: 15px;
    margin-left: 25px;
}