.sidebar-menu {
  padding-top: 0;
  position: fixed;
  width: 300px;
  background-color: #71bfd8;
  height: 100%;
  z-index: 1;
  margin-top: 60px;
  overflow-x: hidden;
}

.sidebar-menu-body {
  padding: 0.5rem;
}

.sidebar-menu-nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.sidebar-menu-body-items {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu-nav-title {
  margin-top: 10px;
}