.sidebar-menu-toggle {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  border-color: aquamarine;
}

.sidebar-menu-toggle-icon {
  background-image: url("/images/sidebarmenu-toggle.png");
}

.rounded-circle {
  width: 150px;
  height: 150px !important;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-menu{
    padding-top: 0;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-menu-body{
    padding: .5rem;
}

.sidebar-menu-nav{
    display: flex;
    flex-direction: column;
}

.sidebar-menu-nav-link{
    color: rgb(13, 78, 135);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .25rem;
}

.sidebar-menu-expand{
    width: 350px;
    background-color: aqua;
}

.sidebar-menu-body-items{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}