.information-card .col {
    margin-bottom: 24px;
}

.information {
    width: 90%;
    margin-top: 20px;
}


.edit {
    width: 30px !important;
    height: 30px !important;
    position: absolute;
    right: 20px;
}

.card {
    padding: 15px;
}

.card-title {
    font-size: 18px !important;
}

.information-text {
    color: rgb(176, 13, 13);
    font-size: 14px;
}

.information-card .form-control {
    width: 70%;
}

.information-btn {
    display: flex;
    justify-content: flex-end;
}

.information-btn .btn {
    height: 40px;
    margin: 0 10px 0 0;
    padding: 0;
}

.information-img {
    position: relative;
    display: inline-block;
    margin: -15px 0 24px 0;
}

.information-img .btn-with-icon {
    position: absolute;
    top: 110px;
    left: 110px;
    z-index: 1;
}

.editImg {
    width: 30px !important;
    height: 30px !important;
}

.form-input {
    padding: 3px !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #83c9b7 !important;
    outline: none !important;
}