.add-student-modal p {
    margin-bottom: -2px;
    font-size: 20px;
}

.student-name{
    margin-top: -9px;
}

.container{
    margin-top: 20px;
    font-size: 17px;
    
}

.modal{
    margin-top: 6%;
}


