.grades-container {
    padding: 40px;
    margin-left: 30px !important;
}

.grades-select {
    width: 50% !important;
}

.grades-select:focus {
    transition: none !important;
    transform: none !important;
    outline: none !important;
}


.grades-card {
    margin-top: 20px;
    width: 90%;

}

.lesson-name {
    width: 40%;
}

.terms {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.terms button {
    background-color: #a0dbcc;
    color: black;
    border-color: #a0dbcc;
    font-size: 17px;
    font-weight: bold;
    transition: none;
}

.terms button:hover {
    background-color: #e0e2e1 !important;
    color: black;
    border: none;
    transform: none;
}

.gradeType-colspan {
    text-align: center;
}

th,
td {
    text-align: center !important;
}

.lesson-name {
    text-align: start !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #a0dbcc !important;
}