/* color => #a0dbcc */
/* dark color => #83c9b7 */
/* #73baa8 */

/* icons */
.sg-icon {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  width: 18px;
  margin-right: 15px;
  margin-bottom: 2px;
  font-size: large;
}

.interaction {
  margin-right: 7px;
}

/* /icons */

/* iconTemp for sidebar */
.iconHeader {
  color: rgb(13, 78, 135);
  padding-right: 1rem;
  margin-bottom: 0.65rem;
  text-decoration: none;
}

/* /iconTemp for sidebar */

/* iconTemp for interaction */
.messageTab {
  color: #6c45c3;
  text-decoration: none;
}

.discussionTab {
  color: #26542e;
  text-decoration: none;
}

.voteTab {
  color: #ab3f3f;
  text-decoration: none;
}

.file-upload {
  color: #5d9b8d;
  text-decoration: none;
  align-self: flex-start;
  margin-right: 20px;
}

/* /iconTemp for interaction */


.img-fluid {
  width: 130px;
  height: 130px !important;
  object-fit: cover;
}

/* chart */
.canvasjs-chart-canvas {
  height: 300px !important;
  width: 650px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
}

.canvasjs-chart-credit {
  display: none;
}

/* /chart */

.form-btn {
  background-color: white !important;
  border-radius: 20px !important;
  width: 25%;
  border: 2px solid #a0dbcc !important;
  color: #424548 !important;
  margin-top: 5px !important;
  margin-left: 90px;
}

.form-btn-color {
  background-color: #a0dbcc !important;
  border-radius: 20px !important;
  width: 25%;
  border: 2px solid #6cd3b9 !important;
  color: #424548 !important;
  margin-top: 5px !important;
}

.form-close-btn {
  background-color: white !important;
  color: #000000 !important;
  border-color: white !important;
}

/* profile image */
.rounded-circle {
  border-radius: 50%;
}

/* /profile image */

.body {
  margin: 0;
  padding: 0;
}

/* interaction */
.interactionTextArea-form {
  padding: 10px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* justify-content: center; */
}

.interactionTextArea {
  padding: 10px;
}

.interaction-btn {
  width: 13%;
  margin-top: -20px !important;
  align-self: flex-end;
}

/* /interaction */

.form-check-input {
  border: 2px solid #72b0a2 !important;
}

.form-check-input:checked {
  background-color: #a0dbcc !important;
  border-color: #a0dbcc !important;
}

.btn-with-icon {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.form-control:focus,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
}